* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

body {
  background: #e5e5e5;
}

.logo {
  position: absolute;
  width: 120px;
  height: 48px;
  top: 40px;
  left: 40px;
  overflow: hidden;
}

textarea {
  position: absolute;
  width: 577px;
  height: 55%;
  left: 190px;
  top: 145px;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #0a3871;
  border: none;
  outline: none;
  resize: none;
  background-color: #e5e5e5;
}

textarea::placeholder {
  color: #0a3871;
}

/* Estiliza la barra de desplazamiento */
textarea::-webkit-scrollbar {
  width: 5px;
}

/* Estiliza el "pulgar" de la barra de desplazamiento */
textarea::-webkit-scrollbar-thumb {
  background-color: #406797;
  border-radius: 5px;
}

.botones {
  position: absolute;
  width: 680px;
  height: fit-content;
  left: 190px;
  bottom: 60px;
}

.botones .advertencia {
  font-size: 12px;
  opacity: 0.8;
  font-weight: 400;
  color: #495057;
  margin-bottom: 10px;
}

.botones .caja-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.encriptar,
.desencriptar {
  cursor: pointer;
  padding: 24px;
  width: 328px;
  height: 67px;
  border-radius: 24px;
  font-weight: 400;
}

.caja-btn .encriptar {
  background: #0a3871;
  border: none;
  color: #fff;
}

.caja-btn .desencriptar {
  background: #d8dfe8;
  border: none;
  color: #0a3871;
  border: solid 1px #0a3871;
}

.lado-der {
  position: absolute;
  width: 30%;
  height: 90%;
  right: 25px;
  top: 40px;
  background: #ffffff;
  box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.158);
  border-radius: 32px;
}

.lado-der .contenido {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.lado-der .contenido .mensajes {
  width: 336px;
  height: 122px;
}

.lado-der .contenido .mensajes h1 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  margin-bottom: 1rem;
}

.lado-der .contenido .mensajes p {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #495057;
}

.contenido .resultado {
  display: flex;
  height: 90%;
  width: 90%;
  flex-direction: column;
  justify-content: space-between;
}

.contenido .resultado p {
  width: 100%;
  height: 90%;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 24px;
  color: #495057;
}

.contenido .resultado .copiar {
  cursor: pointer;
  padding: 24px;
  width: 100%;
  height: 67px;
  border-radius: 24px;
  font-weight: 400;
  overflow: hidden;
  border: solid 1px #0a3871;
  color: #0a3871;
}

@media (max-width: 768px) {
  .logo {
    left: 20px;
    top: 73.42px;
  }

  textarea {
    width: 90%;
    height: 55%;
    left: 5.7%;
    top: 200px;
    font-size: 32px;
    line-height: 150%;
  }

  .botones {
    width: 90%;
    left: 5.7%;
    bottom: 17%;
  }

  .lado-der {
    width: 90%;
    height: 10%;
    left: 5.7%;
    top: 85%;
  }

  .contenido img {
    display: none;
  }
}

@media (max-width: 375px) {
  .logo {
    top: 20px;
    left: -30px;
  }

  textarea {
    width: 90%;
    height: 35%;
    left: 5.7%;
    top: 145px;
    font-size: 32px;
    line-height: 150%;
  }

  .botones {
    width: 90%;
    left: 5.7%;
    bottom: 28%;
  }

  .botones .caja-btn {
    gap: 20px;
  }

  .lado-der {
    width: 90%;
    height: 23%;
    left: 5.6%;
    top: 75%;
  }
}
